.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  border: none;
  padding: 10px;
  display: flex;
  position: relative; /* Position relative for absolute positioning of .ico */
  width: 300px;
}

.ico {
  position: absolute;
  display: none; 
  flex-direction: column;
  padding: 20px;
  right: 15px;
  gap: 20px;
}

.card:hover .ico {
  display: flex;
  cursor:pointer;

}

.category {
  cursor: pointer;
  text-align: center;
}

.category img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  object-fit: cover;
}

.category p {
  margin: 0;
}
