* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}
.app{
  /* background-color: rgb(10, 74, 131); */
  display: flex;
  border: none;
  padding: 20px;
  flex-direction: column;
}